*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}



.header{
    /* overflow: hidden; */
    z-index: 1;
    display:  flex;
    position: fixed;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: #a4a4ad; 

}
  .header .logo{
     font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'sans-serif';
    font-weight:lighter;

    

   

    }
  .header form {
    font-family: 'Dancing Script', cursive;
     padding:5px;
    margin:5px; 
}
.header ul {
    display: flex;
    
    
    
    
}

.header ul li{
   
   
    border-radius:5px ;
    display: flex;
    font-size:20px;
     color: #fff; 
    
   justify-content: center;
   font-weight: 50px;
   font-size: medium;
    
    

    
}
hover:li{
    border: 5px solid green;

}
li a{
    text-decoration: none;
}

label{
   padding:20px; 
   margin: 5px;
   font-size:35px;
}

a{
    text-decoration: none;
}

    